<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>if-endif</title>
</head>
<body>
    <h1>批量渲染user數據</h1>
    {% for user in users %}

        ID: {{ user.id }} 帳戶名: {{ user.username }} <br>
        {% if user.id == 1 %}
            這是本站第一個用戶
        {% endif %}
        {% comment %} if 裡為false條件:空列表、空字典、空元祖、空set、數字0、false、None {% endcomment %}
        {% if 'ad' in user.username %}
            該用戶帳號中，包含ad字符
        {% else %}
            帳號不包含ad字符
        {% endif %}
        <hr>
    {% endfor %}
</body>
</html>