<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Render <br>
    <h2>{{ text }}</h2> <br>
    帳戶: {{ user.username }} <br>
    密碼: {{ user.password }} <br>
    創建時間: {{ user.date_joined }} <br>
    id: {{ user.id }} <br>
    是否可用: {{ user.is_active }} <br>
    是否超級管理員: {{ user.is_superuser }} <br>
    上次登入時間: {{ user.last_login }} <br>
</body>
</html>