<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list</title>
</head>
<body>
    <h1>渲染列表內容</h1>
    {% for i in result_list %}
        <div>{{ i }}</div>
    {% endfor %}
    <h1>批量渲染user數據</h1>
    <!-- {% for user in users %} -->
    <!-- {% endfor %} -->
    {% for user in users reversed %}
        當前位置[倒序1]: {{ forloop.revcounter }} <br>
        當前位置[正序1]: {{ forloop.counter }} <br>
        當前位置[倒序0]: {{ forloop.revcounter0 }} <br>
        當前位置[正序0]: {{ forloop.counter0 }} <br>
        帳戶名: {{user.username}} <br>
        ID: {{user.id}}
        <hr>
        {% empty %}
        <h4>[empty]當前user數據為空</h4>
    {% endfor %}
</body>
</html>